@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* {
  background-color: #000D1A;
  overflow: hidden;
}

.ale {
  /* This sizes each asset element so that the width is 1.5 times bigger than the height. 
     If changed, the positioning some sub elements will need to be changed as 
     well. */
  height: 0;
  padding-bottom: 66%;
  /* This part is for the effect itself */
  background-size: cover;
  background-color: #000D1A;
  position: relative;
  overflow: hidden;
  /* Add a default fade in for every effect */
  /* Make sure any SVG or ::before elements are above ::after elements */
  /* The diagonal loader */
}
.ale::after {
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
}
.ale.complete::after {
  opacity: 0;
  transition: 1s;
}
.ale > svg, .ale::before {
  z-index: 1;
}
.ale[data-ale-type="diagonal"] {
  color: #000D1A;
  /* Position the SVG loader diagonally */
  /* Create each half to be separated in the animation */
  /* Position the left side */
  /* Position the right side */
  /* Set the complete state for each part */
}
.ale[data-ale-type="diagonal"] > svg {
  position: absolute;
  top: 50%;
  width: 125%;
  -webkit-transform: translate(-10%, -50%) rotate(-33.333deg);
  transform: translate(-10%, -50%) rotate(-33.333deg);
}
.ale[data-ale-type="diagonal"]::after, .ale[data-ale-type="diagonal"]::before {
  content: "";
  width: 125%;
  height: 100%;
  position: absolute;
  background: currentColor;
}
.ale[data-ale-type="diagonal"]::before {
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(-33.333deg);
  transform: rotate(-33.333deg);
}
.ale[data-ale-type="diagonal"]::after {
  right: 0;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(-33.333deg);
  transform: rotate(-33.333deg);
}
.ale[data-ale-type="diagonal"].complete {
  /* Fade out the SVG */
  /* Slide out both sides */
}
.ale[data-ale-type="diagonal"].complete > svg {
  transition: 0.25s;
  opacity: 0;
}
.ale[data-ale-type="diagonal"].complete::before {
  transition: 1s;
  -webkit-transform: rotate(-33.333deg) translateY(-100%);
  transform: rotate(-33.333deg) translateY(-100%);
}
.ale[data-ale-type="diagonal"].complete::after {
  opacity: 1;
  transition: 1s;
  -webkit-transform: rotate(-33.333deg) translateY(100%);
  transform: rotate(-33.333deg) translateY(100%);
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.centered {
  margin: 0 auto;
  max-width: 900px;
  box-sizing: border-box;
  padding: 20px;
}
