* {

	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	-webkit-backface-visibility: hidden;
	font-color:  #1693A5;
	font-weight: lighter;
	color: #1693A5;


	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;

    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

body {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateY(50%);
    transform: translateX(-50%);
	background-color: #000D1A;
	overflow: hidden;
	-webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

h1 {
    margin: 0 auto;
	font-size: 40px;
	padding: 20px 50px;
	font-weight: lighter;
	font-color: #0d5762;
}

h3 {
    text-align: center;
    width: 50%;
    border: solid;
    border-width: 3px;
    border-style: dashed;
    border-color: #1693A5;
    margin: 0 auto;
    color: #1693A5;
    cursor: pointer;
    font-size: 150%;

    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;

}

h3:hover {
    background-color: #1693A5;
    color: #000D1A;
}

#index-body {

    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
}

/*MAIN*/
.center-div {
	position:relative;
    width: 100%;

}

/*WRAPPER*/
.wrapper {
	position: relative;
	margin: 0 auto;
	width: 1000px;

}

/*SVG WRAPPER*/
.svg-wrapper {
    float: center;
	text-align: left;
	position: relative;
	margin: 0 auto;
    margin-left: 10%;
	width:75%;
    height: 75%;
}

.shape {
    width: 95%;
    stroke-dasharray: 200 1520;
    stroke-dashoffset: -1070;
    stroke-width: 2px;
    fill: transparent;
    stroke: #1693A5;
    border-bottom: 6px solid black;
    transition: stroke-width 1.5s, stroke-dashoffset 1.5s, stroke-dasharray 1.5s;
}

.text {
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 8px;
  top: -90px;
  width: 100%;
  position: relative;
}

.svg-wrapper:hover .shape {
  stroke-width: 8px;
  stroke-dashoffset: 0;
  stroke-dasharray: 2000;
}

.left {
	float: left;
	width: 80%;
}

/*MAIN CIRCLE*/
.circle {
	position: relative;
	margin-right: 100px;
	margin-top: -375px;
	float: right;
	width: 400px;
	height: 400px;
    transform: scale(0.1);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}

#first-ring {
    position: absolute;
    border: 5px solid #1693A5;
    border-top-color: #7ECECA;
    margin: 30px 30px;
    text-align: center;
    width: 330px;
    height: 330px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: turn_clockwise 10s infinite;
    -moz-animation: turn_clockwise 10s infinite;
    animation: turn_clockwise 10s infinite;   
}

#second-ring {
    position: absolute;
    border: 10px solid #A0DED6;
    border-top-color: #1693A5;
    border-bottom-color: #1693A5;
    width: 300px;
    height: 300px;
    margin: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: turn_counter_clockwise 8s infinite;
    -moz-animation: turn_counter_clockwise 8s infinite;
    animation: turn_counter_clockwise 8s infinite;  
}

#third-ring {
    position: absolute;
    border: 2px solid #A0DED6;
    border-bottom-color: #1693A5;
    margin: 5px;
    width: 286px;
    height: 286px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: turn_clockwise 10s infinite;
    -moz-animation: turn_clockwise 10s infinite;
    animation: turn_clockwise 10s infinite;
}

/*MENUS*/
.menu {
    margin-left: 5%;
    margin-right: -5%;
}

.menu a {
	position:relative;
	padding: 10px 50px;
	margin-bottom: 30px;
	width: 100px;
	text-decoration: none;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
	font-color: #0d5762;
	color: #0d5762;

	-webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;

}



.circle ul {
	position: absolute;
	display: block;
	cursor: pointer;
}

/**LITTLE CIRCLES*/
.circle li {
	display:inline-block;
	position: absolute;
	width: 73px;
	height: 73px;
	border-radius: 50%;
	background: #001a33;
	border: 7px solid #000D1A;
	list-style: none;
	text-align: center;
	font: 12px;
	line-height: 73px;
	float: left;
}

/*INDIVIDUAL CIRCLES*/
.circle li:nth-child(1) {
	position: relative;
	background-color: #1693A5;
	width: 120px;
	height: 120px;
	top:-25px;
	left:132px;
	color: #000D1A;
	line-height: 120px;
	font-size: 30px;
	color: #000D1A;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}

.circle li:nth-child(2) {
	position: absolute;
	top:160px;
	left:312px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.circle li:nth-child(3) {
	position: absolute;
	top:312px;
	left:160px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.circle li:nth-child(4) {
	position: absolute;
	top:160px;
	left:2px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/*ABOUT*/
#about-body {
    margin-top: 15%;
    top: 50%
    left: 50%;
}

.svg-wrapper-about {
    position: absolute;
    height:100%;
    top: 50%;
    transform: translateY(-50%);
    left: 7.5%;
    margin: auto auto;
    width: 85%;
}

.shape-about {
    height: 100%;
    stroke-dasharray: 100 20000;
    stroke-dashoffset:100;
    stroke-width: 2px;
    fill: transparent;
    stroke: #1693A5;
    border-bottom: 6px solid black;
    transition: stroke-width 3s, stroke-dashoffset 3s, stroke-dasharray 3s;
}

.about-me {
    position: absolute
    top: 50%;
    left: 25%;
    width: 35%;
    height: 100%;
    word-wrap: break-word;
    transform: translateY(-40%);
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;
    font-size: 24px;
}

.bg  {
    position: relative;
    margin: 0 auto;
    width: 100%;
    transform: translateY(-50%);
}

.circle-bg {
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #000D1A;
    margin: 0 auto;
    width: 180px;
    height:200px;
}

.path {
    margin:0 auto;
    animation: draw 3s forwards;
}

.path-delay {
    animation: draw 3s 1s forwards;
    margin: 0 auto;
}
 

/*GAME DESIGN*/
.game-header {
    margin: 0 auto;
    width: 95%;
    height: 10%;
    color: #1693A5;
    background-color: #000D1A;
    font-size: 300%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.game-container {
    opacity: 0;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 50%;
}

#container-1 {
    background-color: #001a33;
}

#container2 {

}

#container-3 {
    background-color: #001a33;
}

#game-body {
    margin-top: 15%;
    top: 50%
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #000D1A;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

.game {
    opacity: 0;
    width: 45%;
    height:100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px auto;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 1;
    overflow: auto;
}

#game1 {
    float: left;
    background-image: url("../assets/turtle.png");
}

#entry-header-right {
    padding: 0px 0px 0px 0px;
    text-align: left;
}

#entry-header-left {
    padding: 0px 0px 0px 0px;
    text-align: right;
}

#game2 {
    float: right;
    background-image: url("../assets/bird.png");
}

#game3 {
    float: left;
    background-image: url("../assets/moon.png");
}

.game-desc {
    position:relative;
    width: 40%;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-desc-left {
    text-align: right;
    float: right;
    padding-left: 2%;
    padding-top:1%;
    padding-bottom:1%;
    opacity: 1;
}

#game-desc-right {
    position:relative;
    text-align: left;
    float: left;
    padding-right: 2%;
    opacity: 1;
    color: #1fc7e0;
    padding-top: 1%;
    padding-bottom: 1%;
}

.game-me {
    position: absolute;
    left: 50%;
    width: 60%;
    height: 100%;
    word-wrap: break-word;
    top: 10%;
    transform: translate(-50%);
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}


.spacer {
    height: 50%;
}

/*WEB DESIGN*/
#web1 {
    float: left;
    background-image: url("../assets/drb.png");
}

#web2 {
    float: right;
    background-image: url("../assets/fst.png");
}

/*PROJECTS*/
#project6 {
    float: left;
    background-image: url("../assets/dna.png");
}

#project5 {
    float: right;
    background-image: url("../assets/data.png");
}

#project4 {
    float: left;
    background-image: url("../assets/tries.png");
}

#project3 {
    float: right;
    background-image: url("../assets/gitlet.png");
}

#project2 {
    float: left;
    background-image: url("../assets/ngordnet.png");
}

#project1 {
    float: right;
    background-image: url("../assets/checkers.png");
}

/*ABOUT ENTRIES*/
#about1 {
    float: left;
    text-align: center;
    position: relative;
}

#about2 {
    float: right;
    background-image: url("../assets/logo.png");
}

#about3 {
    float:left;
}

#cvs {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 24vw;
    width: 30vw;
    overflow:hidden;
}

#in-touch {
    text-align: center;
    width: 100%;
}

.btn {
    text-align: center;
    height: 5vw;
    width: 15vw;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    max-width: 50%;
    min-height: 45px;
    min-width: 100px;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
    border: 3px solid #1693A5;
    color: #1693A5;
}

/* Button 1f */
.btn-1f {
    overflow: hidden;
}

.btn-1f:after {
    width: 101%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.btn-1f:hover,
.btn-1f:active {
    color: #000D1A;
    background-color: #1693A5;
}

.btn-1f:hover:after {
    height: 75%;
    opacity: 1;
}

.btn-1f:active:after {
    height: 130%;
    opacity: 1;
}


 @keyframes draw {
  from{}
 
  to {
    stroke-dashoffset: 0;
  }
}


@-webkit-keyframes turn_clockwise {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes turn_clockwise {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes turn_clockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes turn_counter_clockwise {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes turn_counter_clockwise {
    0% {
        -moz-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@keyframes turn_counter_clockwise {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);   
    }   
}   